:root {
  /* colors */
  --background: #ede8d0;
  --board-background: #d5b699;
  --board: #8f6a4f;
  --title: #230f08;

  /* set in useGame */
  --tile-move-time: 0ms;
  --tile-merge-time: 0ms;
  --tile-spawn-time: 0ms;

  /* mobile default */
  --tile-size: 60px;
  --gap: 6px;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--background);
  color: var(--title);
  display: flex;
  flex-direction: column;
}

.game {
  background: var(--background);
  color: var(--title);
}

/* header */

header {
  width: 100%;
  max-width: 350px;
  margin: 1rem auto 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.title {
  font-size: 1.8rem;
  font-weight: 800;
}

.scores {
  display: flex;
  gap: 0.3rem;
}

.score-box {
  background: var(--board);
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  text-align: center;
  min-width: 55px;
  font-size: 0.75rem;
}

.new-game-btn {
  background: var(--title);
  color: var(--background);
  border: none;
  padding: 0.4rem 0.6rem;
  font-size: 0.75rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

/* main */

main {
  flex: 1;
  /* */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* board */

.board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, var(--tile-size));
  grid-template-rows: repeat(4, var(--tile-size));
  gap: var(--gap);

  background: var(--board);
  padding: var(--gap);
  border-radius: 10px;
}

/* tile*/

.cell {
  width: var(--tile-size);
  height: var(--tile-size);

  border-radius: 12%;
  border: 3px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;

  background: var(--board-background);
}

.tile {
  position: absolute;
  top: var(--gap);
  left: var(--gap);

  width: var(--tile-size);
  height: var(--tile-size);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 12%;
  border: 3px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;

  font-size: 1.2rem;
  font-weight: bold;

  transition: transform var(--tile-move-time) ease;
}

/* tablet */

@media (min-width: 600px) {
  :root {
    --tile-size: 75px;
    --gap: 8px;
  }

  header {
    max-width: 420px;
    gap: 0.75rem;
  }

  .title {
    font-size: 2.2rem;
  }

  .score-box {
    font-size: 0.85rem;
    min-width: 65px;
  }

  .new-game-btn {
    font-size: 0.9rem;
    padding: 0.5rem 0.8rem;
  }

  .tile {
    font-size: 1.5rem;
  }
}

/* desktop */

@media (min-width: 900px) {
  :root {
    --tile-size: 90px;
    --gap: 10px;
  }

  header {
    max-width: 500px;
    margin: 2rem auto 0.5rem;
  }

  .title {
    font-size: 2.8rem;
  }

  .score-box {
    font-size: 1rem;
    min-width: 80px;
  }

  .new-game-btn {
    font-size: 1.1rem;
    padding: 0.6rem 1rem;
  }

  .tile {
    font-size: 1.8rem;
  }
}